:root {
    --main-font: clamp(16px, calc(16px + (28 - 16) * ((100vw - 360px) / 1560)), 28px);
    --font-color: rgb(228, 231, 224);
    --background-color-main: rgba(209, 219, 218, 0.479);
    --background-color-block: rgba(32, 31, 31, 0.63);
    --shadow-line: rgb(0, 0, 0) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-main);
    font-size: var(--main-font);
    background-image: url("../dist/image/tealbluebackground.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--font-color);
}

.container {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-line);
    padding: 1rem;
    border-radius: 1rem;
    width: clamp(250px, 30vw, 60rem);
    height: 30rem;
    background-color: var(--background-color-block);
    background: linear-gradient(90deg, rgba(36, 36, 44, 0.651) 0%, rgba(237, 237, 240, 0.329) 35%, rgba(36, 37, 37, 0.397) 100%);
}

.header {
    margin-bottom: 1rem;
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.input {
    width: calc(var(--main-font) + 10rem);;
    background-color: var(--background-color-main);
    border: 1px solid var(--background-color-main);
    border-radius: 1rem;
    padding-left: .5rem;
    margin: auto;
    font-size: calc(var(--main-font) - .4rem);
}

.input::placeholder{
    color: var(--font-color);

}

.input:focus::placeholder {
    border: 1px solid blue;
    color: var(--font-color);
}

.input:focus {
    border: 1px solid blue;
    color: var(--font-color);
}

.input:invalid {
    border: 1px solid red;
    color: var(--font-color);
}

.submit {
    display: flex;
    align-items: center;
}
.img-submit {
    width: calc(var(--main-font));
    margin-left: .5rem;
    filter: invert();
}

.weather {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.country, .city, .temp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 1rem;
}

.icon {
    width: calc(var(--main-font) + 2.5rem);
}

.weather-add {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5rem;
}

.feel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: .5rem;
}

.feel-temp {
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.wind {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: .5rem;
}

.wind-speed {
    display: flex;
    align-items: center;
    margin-left: .5rem;
    margin-right: .5rem;
}


.footer {
    position: fixed;
    display: flex;
    width:max-content;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    font-size: calc(var(--main-font) - 3px);
    text-align: center;
    padding: 1rem;
}

.github-mark {
    width: var(--main-font);
    border-radius: 1rem;
    transition: all .3s;
}

.github-mark:hover {
    transform: rotate(360deg);
}

.footer p {
    display: flex;
    align-items: center;
}

a {
    color: var(--font-color);
    text-decoration: none;
    text-shadow: var(--shadow-line);
    text-align: center;
    padding: .1rem;

}

.slider-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 3.7rem;
    height: 2.15rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 1rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }